---
import Layout from "../layouts/Layout.astro";

import Carrusel from "../components/Carrusel.astro";
import Presentacion from "../components/Presentacion.astro";
import Funciones from "../components/Funciones.astro";
import Trabajos from "../components/Trabajos.astro";
import Diferencia from "../components/Diferencia.astro";
import Marcas from "../components/Marcas.astro";
import Suscripcion from "../components/Suscripcion.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Telecomunicaciones Chile Spa: Conectividad confiable para empresas y particulares en todo Chile, con tecnología de vanguardia y atención experta."
>
  <main id="inicio">
    <div class="">
      <Carrusel />
    </div>

    <div class="">
      <Presentacion />
    </div>

    <div class="bg-red-500">
      <Funciones />
    </div>

    <div class="">
      <Trabajos />
    </div>

    <div class="">
      <Diferencia />
    </div>

    <div class="">
      <Marcas />
    </div>

    <div class="">
      <Suscripcion />
    </div>
  </main>
</Layout>
