---
import Layout from "../layouts/Layout.astro";

import Carrusel from "../components/Carrusel.astro";
import Presentacion from "../components/Presentacion.astro";
import FuncionesSm from "../components/FuncionesSm.astro";
import FuncionesXs from "../components/FuncionesXs.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Telecomunicaciones Chile Spa: Conectividad confiable para empresas y particulares en todo Chile, con tecnología de vanguardia y atención experta."
>
  <main id="inicio">
    <div class="">
      <Carrusel />
    </div>

    <div class="">
      <Presentacion />
    </div>

    <div class="bg-red-500 sm:block hidden">
      <FuncionesSm />
    </div>

    <div class="bg-red-500 block sm:hidden">
      <FuncionesXs />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </main>
</Layout>
