---
import Layout from "../layouts/Layout.astro";

import Carrusel from "../components/Carrusel.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Telecomunicaciones Chile Spa: Conectividad confiable para empresas y particulares en todo Chile, con tecnología de vanguardia y atención experta."
>
  <main id="inicio">
    <div class="">
      <Carrusel />
    </div>

    <div class="">
      <h1>¡Mejore sus comunicaciones y redes con nosotros!</h1>
      <p>
        Con más de 20 años de experiencia en telecomunicaciones y seguridad,
        lideramos proyectos complejos, desde redes de última generación hasta
        sistemas avanzados de alarmas de incendio. Nos enfocamos en la
        eficiencia operativa y soluciones efectivas.
      </p>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </main>
</Layout>
