<a
  href="mailto:cctv.medina@gmail.com"
  type="button"
  class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg sm:text-sm text-xs sm:px-4 px-3 py-2.5 text-center"
>
  Contactanos
</a>
