---
const carruselItems = [
  {
    img: "",
    alt: "Servicios de Telecomunicaciones",
    title: "Servicios de Telecomunicaciones",
    Parrafo: "Mejora tu habilidad tecnológica, adapta y únete a la innovación para mantenerte relevante y competitivo en un mundo en constante cambio",
  },
  {
    img: "",
    alt: "Edificios",
    title: "Edificios",
    Parrafo: "Optimiza las comunicaciones con instalacione de telecomunicaciones y redes blandas. Incorporando seguirdad de acceso, anti incendios y video vigilancia.",  },
  {
    img: "/carrusel3.webp",
    alt: "",
    title: "Inicio",
    Parrafo: "",
  },
];
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-[500px] sm:h-[750px] overflow-hidden rounded-lg">
    {
      carruselItems.map((carrusel) => (
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img
            src={carrusel.img}
            class="absolute block w-full h-full object-cover top-0 left-0"
            alt={carrusel.alt}
          />
          <div class="absolute top-0 left-0 w-full h-full bg-gray-950/50 opacity-80" />
          <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white">
            <h1 class="text-3xl sm:text-5xl font-bold text-red-500 drop-shadow-2xl">{carrusel.title}</h1>
            <p class="text-sm sm:text-xl mt-2 font-medium">
              {carrusel.Parrafo}
            </p>
          </div>
        </div>
      ))
    }
  </div>
  <!-- Slider indicators -->
  <div
    class="absolute z-20 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    {
      carruselItems.map((carrusel) => (
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide"
          data-carousel-slide-to="0"
        />
      ))
    }
    
  </div>
</div>
