---
import CalendarIcon from "./icons/Calendar.astro";
import SecurityIcon from "./icons/Security.astro";
import CctvIcon from "./icons/Cctv.astro";
import EdificioIcon from "./icons/Edificio.astro";
---

<div class="flex justify-between max-w-[1240px] mx-auto py-20 px-6">
  <div class="text-center max-w-[250px] text-gray-200">
    <CalendarIcon class="size-32 mx-auto" />
    <h1 class="text-2xl font-bold">Administración</h1>
    <p class="text-xl pt-4">
      Experiencia en control y administración de grandes proyectos.
    </p>
  </div>

  <div class="text-center max-w-[250px] text-gray-200">
    <SecurityIcon class="size-32 mx-auto" />
    <h1 class="text-2xl font-bold">Seguridad</h1>
    <p class="text-xl pt-4">
      Instalación de sistemas de seguridad y control de accesos.
    </p>
  </div>

  <div class="text-center max-w-[250px] text-gray-200">
    <CctvIcon class="size-32 mx-auto" />
    <h1 class="text-2xl font-bold">Videovigilancia</h1>
    <p class="text-xl pt-4">
      Implementación de CCTV para grandes y pequeños proyectos.
    </p>
  </div>

  <div class="text-center max-w-[250px] text-gray-200">
    <EdificioIcon class="size-32 mx-auto" />
    <h1 class="text-2xl font-bold">Edificios</h1>
    <p class="text-xl pt-4">
      Cableado y estructurado de instalación para corrientes débiles.
    </p>
  </div>
</div>
