---
import BotonContactanos from "../components/BotonContactanos.astro";
---

<div class="flex flex-col max-w-[1240px] mx-auto sm:my-32 my-10 px-4">
  <h1
    class="sm:text-center sm:text-[45pt] text-3xl text-yellow-300 font-bold text-pretty sm:leading-[4rem]"
  >
    ¡Mejore sus comunicaciones y redes con nosotros!
  </h1>
  <p class="sm:text-center sm:text-xl text-base pt-4 text-gray-950 text-pretty">
    Con más de <span class="italic font-medium text-red-500"
      >20 años de experiencia</span
    > en telecomunicaciones y seguridad, lideramos proyectos complejos, desde redes
    de última generación hasta sistemas avanzados de alarmas de incendio. Nos enfocamos
    en la eficiencia operativa y soluciones efectivas.
  </p>

  <div class="space-x-2 sm:mx-auto my-8">
    <a
      href=""
      class="rounded-xl bg-yellow-300 py-2 px-4 sm:text-xl text-base hover:bg-yellow-300/80"
    >
      Nuestros Servicios
    </a>
    <BotonContactanos
      class="rounded-xl bg-red-500 hover:bg-red-500/80 py-2 px-4 sm:text-xl text-base text-gray-100"
    >
      Contáctanos
    </BotonContactanos>
  </div>
</div>
