---
import FormularioContacto from "./FormularioContacto.astro";
---

<div class="bg-yellow-300">
  <div
    class="flex flex-wrap items-center justify-center max-w-[1240px] mx-auto sm:mt-32 mt-10 px-4"
  >
    <div class="sm:pr-14">
      <h1
        class="sm:text-5xl text-2xl text-center font-bold max-w-[700px] text-gray-950 sm:pt-0 pt-4"
      >
        Suscríbase a nuestro boletín y manténgase en contacto.
      </h1>
    </div>
    <FormularioContacto />
  </div>
</div>
