---
// Supports weights 100-900
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-100">
    <Header />

    <slot />

    <script
      is:inline
      src="/node_modules/flowbite/dist/flowbite.js"
    ></script>
    <style is:global>
      :root {
        color-scheme: light;
      }

      body {
        font-family: "Onest Variable", sans-serif;
      }
    </style>
  </body>
</html>
